body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fc;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s all ease;
}
button:hover {
  background-color: #0056b3;
  color: #fff;
}
